*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
project/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# OSX stuff
.DS_Store

# Project specific stuff
*.csv
snowflake_conn.properties
